html, body, .my-wrapper {
  height: 100%;
}

.main-text {
    color: #ffffff;
}

.link-text{
  color: #4527a0;
}

.background-img{
  background-image: url("../media/background-1.JPG");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
